.idea
__pycache__
env
config.yml
dog_grooming_app/media/services/*
dog_grooming_app/media/gallery/*
!dog_grooming_app/media/services/default.jpg
!.gitkeep
docker/postgres_data
.coverage
htmlcov
coverage.xml