{% extends 'base.html' %}
{% block 'content' %}

{% load static %}
{% load i18n %}

<div class="div_admin_api">

    <h1>{% trans 'Admin APIs' %}</h1>

    <div >

        <h3>{% trans 'Contact:' %}</h3>
        <div>
            <a class="a_button green_button" href="{% url 'api_contact_create' %}">{% trans 'Create' %}</a>
            <a class="a_button red_button" href="{% url 'api_contact_update_delete' 'x' %}">{% trans 'Update/Delete' %}</a>
        </div>

        <h3>{% trans 'Services:' %}</h3>
        <div>
            <a class="a_button green_button" href="{% url 'api_service_create' %}">{% trans 'Create' %}</a>
            <a class="a_button blue_button" href="{% url 'api_services' %}">{% trans 'View' %}</a>
            <br><br>
            <a id="service_update_delete_button" class="a_button red_button" >
                {% trans 'Update/Delete' %}</a>
            <select onchange="setServiceUpdateDeleteAPIUrlOnAdminPage(this)" class="select_input admin_service_list">
                <option value="none" >{% trans 'Choose a service!' %}</option>
                {% for service in services %}
                    <option value="{{ service.id }}" >{{ service.id }} - {{ service.service_name_hu }}</option>
                {% endfor %}
            </select>
        </div>

        <h3>{% trans 'Bookings:' %}</h3>
        <div>
            <a class="a_button green_button" href="{% url 'api_booking_create' %}">{% trans 'Create' %}</a>
            <a class="a_button blue_button" href="{% url 'api_bookings' %}">{% trans 'View' %}</a>
            <br><br>
            <a id="free_booking_slots_button" class="a_button blue_button" >
                {% trans 'List Free Slots' %}</a>
            <input type="date" class="date_input" id="date" name="date" onchange="setAvailableBookingSlotsAPIUrlOnAdminPage()"/>
            <select id="service_list" onchange="setAvailableBookingSlotsAPIUrlOnAdminPage()" class="select_input admin_service_list">
                <option value="none" >{% trans 'Choose a service!' %}</option>
                {% for active_service in active_services %}
                    <option value="{{ active_service.id }}" >{{ active_service.id }} - {{ active_service.service_name_hu }}</option>
                {% endfor %}
            </select>
        </div>

        <h3>Gallery Images:</h3>
        <div>
            <p>
                <form method="POST" enctype="multipart/form-data" >
                    {% csrf_token %}
                    <input name="image_upload_submit" class="a_button green_button" type="submit" value="{% trans 'Upload' %}" />
                    <input name="image_to_be_uploaded" type="file" accept="image/*" />
                </form>
            </p>
            <p>
                <form method="POST" >
                    {% csrf_token %}
                    <input name="image_delete_submit" id="image_delete_button" class="a_button red_button" type="submit" value="{% trans 'Delete' %}" disabled/>
                    <select name="image_to_be_deleted" id="image_to_be_deleted" onchange="enableDisableGalleryImageDeleteButtonOnAdminPage(this)" class="select_input admin_image_list">
                        <option value="none" >{% trans 'Choose an image!' %}</option>
                        {% for gallery_image in gallery_images %}
                            <option value="{{ gallery_image }}" >{{ gallery_image }}</option>
                        {% endfor %}
                    </select>
                </form>
            </p>
        </div>

        <h3>{% trans 'Users:' %}</h3>
        <div>
            <a class="a_button blue_button" href="{% url 'api_users' %}">{% trans 'View' %}</a>
            <br><br>
            <a id="cancel_user_button" class="a_button red_button" >
                {% trans 'Cancel User' %}</a>
            <select onchange="setCancelUserAPIUrlOnAdminPage(this)" class="select_input admin_user_list">
                <option value="none" >{% trans 'Choose a user!' %}</option>
                {% for user in users %}
                    <option value="{{ user.id }}" >{{ user.id }} - {{ user.username }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form_success_message">
            {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'success' %}
                    {{ message }}
                {% endif %}
                {% endfor %}
            {% endif %}
        </div>

    </div>

</div>

<script>
    window.onload = setInitialDateForAvailableBookingSlotsOnAdminPage();
</script>

{% endblock %}
