{% extends 'base.html' %}
{% block 'content' %}

{% load static %}
{% load i18n %}
{% get_current_language as CURRENT_LANGUAGE %}

<div id="admin_booking_search_form">
    <form method="POST" novalidate>
        {% csrf_token %}
        <input name="booking_date" id="booking_date" type="date" value="{{ day }}" />
        <label for="cancelled">{% trans 'Cancelled:' %}</label>
        <input name="cancelled" id="cancelled" type="checkbox" value="cancelled" {% if cancelled %} checked {% endif %}/>
        <input name="submit_search" type="submit" value="{% trans 'Search' %}"/>
        <input name="submit_all" type="submit" value="{% trans 'All' %}" />
    </form>
</div>

<div class="content content_bookings">

    {% for booking in bookings %}

    <div class="admin_booking_box">
        <img class="service_box_image"
             src="
                {% if booking.service.photo.url is not None and booking.service.photo.url != '' %}
                    {{ booking.service.photo.url }}
                {% else %}
                    {% static 'logo.jpg' %}
                {% endif %}
             ">
        <p class="service_box_name">
            {% if CURRENT_LANGUAGE == 'hu' %}
                {{ booking.service.service_name_hu }}
            {% else %}
                {{ booking.service.service_name_en }}
            {% endif %}
        </p>
        <p>
            {% blocktranslate with max_duration=booking.service.max_duration%}
                Duration: {{ max_duration }} minutes
            {% endblocktranslate %}
        </p>
        <p>{{ booking.date}} {{ booking.time }}</p>
        <p>{{ booking.service_price}} Ft</p>
        {% if CURRENT_LANGUAGE == 'hu' %}
            <p>{{ booking.user.last_name}} {{ booking.user.first_name}}</p>
        {% else %}
            <p>{{ booking.user.first_name}} {{ booking.user.last_name}}</p>
        {% endif %}
        <p>{{ booking.user.username}}</p>
        {% if not booking.cancelled %}
            <a class="a_button red_button" href="{% url 'api_cancel_booking' booking_id=booking.id %}?by_user=false">{% trans 'Cancel' %}</a>
        {% else %}
            <p style="color:red;">{% trans 'Cancelled' %}</p>
        {% endif %}
    </div>

    {% endfor %}

</div>

{% endblock %}
