{% extends 'base.html' %}
{% block 'content' %}

{% load static %}
{% load i18n %}
{% get_current_language as CURRENT_LANGUAGE %}

<div id="content_wrapper">

<div id="admin_booking_search_form">
    <form method="POST" novalidate>
        {% csrf_token %}
        <label for="booking_date">{% trans 'From:' %}</label>
        <input name="booking_date" id="booking_date" type="date" value="{{ day }}" />
        <input name="user" id="user" type="text" placeholder="{% trans 'name, username or id' %}" value="{{ user_filter }}" />
        <label for="cancelled">{% trans 'Cancelled:' %}</label>
        <input name="cancelled" id="cancelled" type="checkbox" value="cancelled" {% if cancelled %} checked {% endif %}/>
        <input name="submit_search" type="submit" value="{% trans 'Search' %}"/>
        <input name="submit_all" type="submit" value="{% if day or user_filter  %}{% trans 'Reset' %}{% else %}{% trans 'All' %}{% endif %}" />
    </form>
</div>

<div class="content content_bookings">

    {% for booking in bookings %}

    <div class="admin_booking_box">
        <img class="service_box_image"
             src="
                {% if booking.service.photo.url is not None and booking.service.photo.url != '' %}
                    {{ booking.service.photo.url }}
                {% else %}
                    {% static 'logo.jpg' %}
                {% endif %}
             ">
        <p class="service_box_name">
            {% if CURRENT_LANGUAGE == 'hu' %}
                {{ booking.service.service_name_hu }}
            {% else %}
                {{ booking.service.service_name_en }}
            {% endif %}
        </p>
        <p>
            {% blocktranslate with max_duration=booking.service.max_duration%}
                Duration: {{ max_duration }} minutes
            {% endblocktranslate %}
        </p>
        <p>{{ booking.date}} {{ booking.time }}</p>
        <p>{{ booking.service_price}} Ft</p>
        {% if CURRENT_LANGUAGE == 'hu' %}
            <p>{{ booking.user.last_name}} {{ booking.user.first_name}}</p>
        {% else %}
            <p>{{ booking.user.first_name}} {{ booking.user.last_name}}</p>
        {% endif %}
        <p>{{ booking.user.username}}</p>
        {% if not booking.cancelled %}
            {% if booking.date > date or booking.date == date and booking.time >= time  %}
            <a class="a_button red_button" onclick="return confirmCancel('{% trans 'Are you sure you want to cancel this booking?' %}');" href="{% url 'api_cancel_booking' booking_id=booking.id %}?by_user=false">{% trans 'Cancel' %}</a>
            {% endif %}
        {% else %}
            <p style="color:red;">{% trans 'Cancelled' %}</p>
        {% endif %}
    </div>

    {% endfor %}

</div>

</div>

{% if page.paginator.num_pages > 1 %}
<div class="pagination">
    <span class="page_links">
        {% if page.has_previous %}
            <a class="page_link" href="?page=1{% if day %}&day={{ day }}{% endif %}{% if user_filter %}&user={{ user_filter }}{% endif %}{% if cancelled %}&cancelled=True{% endif %}">&laquo; {% trans 'first' %}</a>
            <span>&middot;</span>
        {% endif %}

        {% for i in pages %}
            {% if page.number == i %}
                <span class="current_page">{{ page.number }}</span>
            {% else %}
                <a class="page_link" href="?page={{ i }}{% if day %}&day={{ day }}{% endif %}{% if user_filter %}&user={{ user_filter }}{% endif %}{% if cancelled %}&cancelled=True{% endif %}">{{ i }}</a>
            {% endif %}
            {% if page.paginator.num_pages != i or page.paginator.num_pages != page.number %}
                <span>&middot;</span>
            {% endif %}
        {% endfor %}

        {% if page.has_next %}
            <a class="page_link" href="?page={{ page.paginator.num_pages }}{% if day %}&day={{ day }}{% endif %}{% if user_filter %}&user={{ user_filter }}{% endif %}{% if cancelled %}&cancelled=True{% endif %}">{% trans 'last' %} &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}

{% endblock %}
