{% extends 'base.html' %}
{% block 'content' %}

{% load static %}
{% load i18n %}

<div class="div_admin_api">

    <h1>{% trans 'Admin APIs' %}</h1>

    <div >

        <p>{% trans 'Contact:' %}</p>
        <div>
            <a class="a_button green_button" href="{% url 'api_contact_create' %}">{% trans 'Create' %}</a>
            <a class="a_button red_button" href="{% url 'api_contact_update_delete' 'x' %}">{% trans 'Update/Delete' %}</a>
        </div>

        <p>{% trans 'Services:' %}</p>
        <div>
            <a class="a_button blue_button" href="{% url 'api_services' %}">{% trans 'View' %}</a>
            <a class="a_button green_button" href="{% url 'api_service_create' %}">{% trans 'Create' %}</a>
            <br><br>
            <a id="service_update_delete_button" class="a_button red_button" >
                {% trans 'Update/Delete' %}</a>
            <select onchange="setServiceAPIUrl(this)" class="admin_service_list">
                <option value="none" >{% trans 'Choose a service!' %}</option>
                {% for service in services %}
                    <option value="{{ service.id }}" >{{ service.id }} - {{ service.service_name_hu }}</option>
                {% endfor %}
            </select>
        </div>

        <p>{% trans 'Bookings:' %}</p>
        <div>
            <a class="a_button green_button" href="{% url 'api_booking_create' %}">{% trans 'Create' %}</a>
            <a class="a_button blue_button" href="{% url 'api_bookings' %}">{% trans 'View' %}</a>
            <br><br>
            <a id="free_booking_slots_button" class="a_button blue_button" >
                {% trans 'List Free Slots' %}</a>
            <input type="date" class="date_input" id="date" name="date" onchange="setBookingAPIUrl()"/>
            <select id="service_list" onchange="setBookingAPIUrl()" class="admin_service_list">
                <option value="none" >{% trans 'Choose a service!' %}</option>
                {% for active_service in active_services %}
                    <option value="{{ active_service.id }}" >{{ active_service.id }} - {{ active_service.service_name_hu }}</option>
                {% endfor %}
            </select>
        </div>

        <p>Gallery Images:</p>
        <div>
            <p>
                <form method="POST" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <input name="image_upload_submit" class="a_button green_button" type="submit" value="{% trans 'Upload' %}" />
                    <input name="image_to_be_uploaded" type="file" accept="image/png, image/jpeg" />
                </form>
            </p>
            <p>
                <form method="POST" novalidate>
                    {% csrf_token %}
                    <input name="image_delete_submit" id="image_delete_button" class="a_button red_button" type="submit" value="{% trans 'Delete' %}" disabled/>
                    <select name="image_to_be_deleted" id="image_to_be_deleted" onchange="enableDisableDeleteButton(this)" class="admin_image_list">
                        <option value="none" >{% trans 'Choose an image!' %}</option>
                        {% for gallery_image in gallery_images %}
                            <option value="{{ gallery_image }}" >{{ gallery_image }}</option>
                        {% endfor %}
                    </select>
                </form>
            </p>

            <div class="form_success_message">
                {% if messages %}
                    {% for message in messages %}
                    {% if message.tags == 'success' %}
                        {{ message }}
                    {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>

    </div>

</div>

<script>
    document.getElementById("date").min = new Date().toISOString().split("T")[0];
    document.getElementById("date").value = new Date().toISOString().split("T")[0];
    max_date = new Date()
    max_date.setDate(max_date.getDate() + 90)
    document.getElementById("date").max = max_date.toISOString().split("T")[0];
</script>
<script>
    function setServiceAPIUrl(element) {
        var serviceUpdateDeleteButton = document.getElementById("service_update_delete_button");
        if (element.value != "none") {
            serviceUpdateDeleteButton.href = "api/admin/service/update_delete/" + element.value + "/";
        } else {
            serviceUpdateDeleteButton.href = "";
        }
    }

    function setBookingAPIUrl() {
        var listFreeBookingSlotsButton = document.getElementById("free_booking_slots_button");
        var dateInput = document.getElementById("date");
        var serviceInput = document.getElementById("service_list");
        if (serviceInput.value != "none") {
            listFreeBookingSlotsButton.href = "api/booking/free_booking_slots?day=" + dateInput.value + "&service_id=" + serviceInput.value;
        } else {
            listFreeBookingSlotsButton.href = "";
        }
    }

    function enableDisableDeleteButton(element) {
        var deleteButton = document.getElementById("image_delete_button");
        if (element.value != "none") {
            deleteButton.disabled = false;
        } else {
            deleteButton.disabled = true;
        }
    }
</script>

{% endblock %}
