<!DOCTYPE html>
<html lang="en">

    {% load i18n %}
    {% load static %}

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" media="all" href="{% static 'style/style.css' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'logo.jpg' %}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="{% static 'js/dog_grooming_app.js' %}"></script>

        <title>{% trans 'Emma Dog Grooming' %}</title>
    </head>

    <body>

        <div id="container">

            <div id="header">
                <div id="header_left">
                    <table>
                        <tr>
                            <td>
                                <img id="logo_image" src="{% static 'logo.jpg' %}">
                            </td>
                            <td>
                                <p id="logo_text">{% trans "Emma's Dog Grooming Salon" %}</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="header_right">
                    <table>
                        <tr>
                            <td>
                                <span><a href="/hu"><img class="lang_image" src="{% static 'hun.png' %}"></a></span>
                            </td>
                            <td>
                                <span><a href="/en"><img class="lang_image" src="{% static 'uk.png' %}"></a></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div id="topnav">
                <a class="menu_item" href="{% url 'home' %}">{% trans 'Home' %}</a>
                <a class="menu_item" href="{% url 'services' %}">{% trans 'Services' %}</a>
                <a class="menu_item" href="{% url 'gallery' %}">{% trans 'Gallery' %}</a>
                <a class="menu_item" href="{% url 'contact' %}">{% trans 'Contact' %}</a>
                {% if user.is_authenticated and user.is_staff %}
                    <a class="menu_item" href="{% url 'admin_api' %}">{% trans 'Admin API' %}</a>
                {% endif %}
                {% if user.is_authenticated %}
                <div id="user_dropdown" class="menu_item_right">
                    <button class="dropdown_button">{% trans 'My Profile' %}</button>
                    <div id="user_dropdown_content">
                        <p id="hi_username">{% blocktranslate with username=user.username %}Hi {{ username }}!{% endblocktranslate %}</p>
                        <a href="{% url 'personal_data' %}">{% trans 'Personal data' %}</a>
                        <a href="{% url 'change_password' %}">{% trans 'Change password' %}</a>
                        {% if user.is_staff %}
                            <a href="{% url 'admin_bookings' %}">{% trans 'Bookings' %}</a>
                        {% else %}
                            <a href="{% url 'user_bookings' %}">{% trans 'My bookings' %}</a>
                        {% endif %}
                        <a href="/user/logout">{% trans 'Log out' %}</a>
                    </div>
                </div>
                {% else %}
                <a class="menu_item_right" href="{% url 'login' %}">{% trans 'Log In' %}</a>
                <a class="menu_item_right" href="{% url 'signup' %}">{% trans 'Sign Up' %}</a>
                {% endif %}
            </div>

            <div id="content_wrapper">

                {% block 'content' %}
                {% endblock %}

            </div>

            <div id="footer">
                <footer>Copyright &copy; <script>document.write(new Date().getFullYear())</script> {% trans 'All Rights Reserved' %}</footer>
            </div>

        </div>

    </body>

</html>
