{% extends 'base.html' %}
{% block 'content' %}

{% load i18n %}

<div id="content_wrapper">

<div class="content content_booking">

    <div id="language-data" data-language="{{ request.LANGUAGE_CODE }}"></div>

    <div class="content_form content_booking_form">
        <p class="page_title">{% trans 'Booking' %}</p>
        <form class="booking_form" method="POST" novalidate>
            {% csrf_token %}
            <input type="hidden" id="service_id" value="{{ service.id }}">
            {% if service.price_small is not None or service.price_big is not None %}
                <div class="service_option" >
                    <label for="dog_size">{% trans 'Dog size:' %}</label>
                    <select class="select_input" name="dog_size" id="dog_size" onchange="changeBookingPriceForDogSize(this)">
                        {% if service.price_small is not None %}<option value="small">{% trans 'small' %}</option>{% endif %}
                        <option value="medium" selected >{% trans 'medium' %}</option>
                        {% if service.price_big is not None %}<option value="big">{% trans 'big' %}</option>{% endif %}
                    </select>
                </div>
            {% endif %}
            <p id="medium" class="service_price">{{ service.price_default }} Ft</p>
            <p id="small" style="display:none;" class="service_price">{{ service.price_small }} Ft</p>
            <p id="big" style="display:none;" class="service_price">{{ service.price_big }} Ft</p>
            {% for field in form %}
                {% if field.name != 'dog_size' %}
                <p>
                    {{ field.label_tag }} <br> {{ field }}
                    {% if field.errors %}
                    <ul class="error_list">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </p>
                {% endif %}
            {% endfor %}
            <div class="form_buttons">
                <input class="a_button green_button" type="submit" value="{% trans 'Book' %}" />
                <a class="a_button grey_button" href="{% url 'service' slug=service.slug %}">{% trans 'Back' %}</a>
            </div>
        </form>

        <div class="form_success_message">
            {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'success' %}
                    {{ message }}
                {% endif %}
                {% endfor %}
            {% endif %}
        </div>

    </div>

</div>

</div>

<script>
    window.onload = setInitialDateOnBookingPage();
</script>

{% endblock %}
