{% extends 'base.html' %}
{% block 'content' %}

{% load i18n %}
{% get_current_language as CURRENT_LANGUAGE %}

<div class="content content_contact">

    <div class="contact_details">
        <p class="page_title">{% trans 'Contact' %}</p>
        <table class="contact_table" cellspacing="0" cellpadding="0">
            <tr>
                <td>{% trans 'Phone number:' %}</td>
                <td>{{ contact_details.phone_number }}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{ contact_details.email }}</td>
            </tr>
            <tr>
                <td>{% trans 'Address:' %}</td>
                <td>{{ contact_details.address }}</td>
            </tr>
            <tr>
                <td>{% trans 'Opening hours:' %}</td>
                <td>
                    <table class="table_opening_hours">
                        <tr>
                            <td>{% trans 'Monday:' %}</td>
                            <td>
                                {% if contact_details.opening_hour_monday and contact_details.closing_hour_monday %}
                                    {{ contact_details.opening_hour_monday }} - {{ contact_details.closing_hour_monday }}
                                {% else %}
                                    {% trans 'closed' %}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>{% trans 'Tuesday:' %}</td>
                            <td>
                                {% if contact_details.opening_hour_tuesday and contact_details.closing_hour_tuesday %}
                                    {{ contact_details.opening_hour_tuesday }} - {{ contact_details.closing_hour_tuesday }}
                                {% else %}
                                    {% trans 'closed' %}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>{% trans 'Wednesday:' %}</td>
                            <td>
                                {% if contact_details.opening_hour_wednesday and contact_details.closing_hour_wednesday %}
                                    {{ contact_details.opening_hour_wednesday }} - {{ contact_details.closing_hour_wednesday }}
                                {% else %}
                                    {% trans 'closed' %}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>{% trans 'Thursday:' %}</td>
                            <td>
                                {% if contact_details.opening_hour_thursday and contact_details.closing_hour_thursday %}
                                    {{ contact_details.opening_hour_thursday }} - {{ contact_details.closing_hour_thursday }}
                                {% else %}
                                    {% trans 'closed' %}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>{% trans 'Friday:' %}</td>
                            <td>
                                {% if contact_details.opening_hour_friday and contact_details.closing_hour_friday %}
                                    {{ contact_details.opening_hour_friday }} - {{ contact_details.closing_hour_friday }}
                                {% else %}
                                    {% trans 'closed' %}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>{% trans 'Saturday:' %}</td>
                            <td>
                                {% if contact_details.opening_hour_saturday and contact_details.closing_hour_saturday %}
                                    {{ contact_details.opening_hour_saturday }} - {{ contact_details.closing_hour_saturday }}
                                {% else %}
                                    {% trans 'closed' %}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>{% trans 'Sunday:' %}</td>
                            <td>
                                {% if contact_details.opening_hour_sunday and contact_details.closing_hour_sunday %}
                                     {{ contact_details.opening_hour_sunday }} - {{ contact_details.closing_hour_sunday }}
                                {% else %}
                                    {% trans 'closed' %}
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <div class="contact_button">
            <input class="a_button green_button {% if not user.is_authenticated %}disabled_button{% endif %}" type="submit" value="{% trans 'Call Me' %}" />
            {% if not user.is_authenticated %}
            <p class="italic">{% trans 'Log in to request callback!' %}</p>
            {% endif %}
        </div>
        <iframe width="400" height="240" src="{{ contact_details.google_maps_url }}" class="contact_map" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

</div>

{% endblock %}
