{% extends 'base.html' %}
{% block 'content' %}

{% load i18n %}
{% load static %}

<div id="content_wrapper">

<div class="content_gallery">

    {% for image in images %}
        <div class="image_box">
            <img class="image_in_box" src="{% get_media_prefix %}gallery/{{ image }}" onclick="displayGalleryImage(this);">
        </div>
    {% endfor %}

</div>

<div id="expanded_image_container">
    <div>
        <div id="expanded_image_sticky">
            <span onclick="this.parentElement.parentElement.parentElement.style.display='none'"
                  class="close_sign">&times;</span>
            <img id="expanded_image">
        </div>
    </div>
</div>

</div>

{% if page.paginator.num_pages > 1 %}
<div class="pagination">
    <span class="page_links">
        {% if page.has_previous %}
            <a class="page_link" href="?page=1">&laquo; {% trans 'first' %}</a>
            <span>&middot;</span>
        {% endif %}

        {% for i in pages %}
            {% if page.number == i %}
                <span class="current_page">{{ page.number }}</span>
            {% else %}
                <a class="page_link" href="?page={{ i }}">{{ i }}</a>
            {% endif %}
            {% if page.paginator.num_pages != i or page.paginator.num_pages != page.number %}
                <span>&middot;</span>
            {% endif %}
        {% endfor %}

        {% if page.has_next %}
            <a class="page_link" href="?page={{ page.paginator.num_pages }}">{% trans 'last' %} &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}

{% endblock %}
