{% extends 'base.html' %}
{% block 'content' %}

{% load static %}
{% load i18n %}
{% get_current_language as CURRENT_LANGUAGE %}

<div id="content_wrapper">

<div class="content content_services">

    {% for service in services %}

    <div class="service_box">
        <a href="{% url 'service' service_id=service.id %}"><span>
            <img class="service_box_image"
                 src="
                    {% if service.photo.url is not None and service.photo.url != '' %}
                        {{ service.photo.url }}
                    {% else %}
                        {% static 'logo.jpg' %}
                    {% endif %}
                 ">
            <p class="service_box_name">
                {% if CURRENT_LANGUAGE == 'hu' %}
                    {{ service.service_name_hu }}
                {% else %}
                    {{ service.service_name_en }}
                {% endif %}
            </p>
            <p class="service_box_desc">
                {% if CURRENT_LANGUAGE == 'hu' %}
                    {{ service.service_description_hu }}
                {% else %}
                    {{ service.service_description_en }}
                {% endif %}
            </p>
        </span></a>
    </div>

    {% endfor %}

</div>

</div>

{% if page.paginator.num_pages > 1 %}
<div class="pagination">
    <span class="page_links">
        {% if page.has_previous %}
            <a class="page_link" href="?page=1">&laquo; {% trans 'first' %}</a>
            <span>&middot;</span>
        {% endif %}

        {% for i in pages %}
            {% if page.number == i %}
                <span class="current_page">{{ page.number }}</span>
            {% else %}
                <a class="page_link" href="?page={{ i }}">{{ i }}</a>
            {% endif %}
            {% if page.paginator.num_pages != i or page.paginator.num_pages != page.number %}
                <span>&middot;</span>
            {% endif %}
        {% endfor %}

        {% if page.has_next %}
            <a class="page_link" href="?page={{ page.paginator.num_pages }}">{% trans 'last' %} &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}

{% endblock %}
