{% extends 'base.html' %}
{% block 'content' %}

{% load static %}
{% load i18n %}
{% get_current_language as CURRENT_LANGUAGE %}

<div id="content_wrapper">

<div class="content content_bookings">

    {% for booking in bookings %}

    <div class="user_booking_box">
        <img class="service_box_image"
             src="
                {% if booking.service.photo.url is not None and booking.service.photo.url != '' %}
                    {{ booking.service.photo.url }}
                {% else %}
                    {% static 'logo.jpg' %}
                {% endif %}
             ">
        <p class="service_box_name">
            {% if CURRENT_LANGUAGE == 'hu' %}
                {{ booking.service.service_name_hu }}
            {% else %}
                {{ booking.service.service_name_en }}
            {% endif %}
        </p>
        <p>
            {% blocktranslate with max_duration=booking.service.max_duration%}
                Duration: {{ max_duration }} minutes
            {% endblocktranslate %}
        </p>
        <p>{{ booking.date}} {{ booking.time }}</p>
        <p>{{ booking.service_price}} Ft</p>
        <a class="a_button red_button" onclick="return confirmCancel('{% trans 'Are you sure you want to cancel this booking?' %}');" href="{% url 'api_cancel_booking' booking_id=booking.id %}">{% trans 'Cancel' %}</a>
    </div>

    {% empty %}

    <p style="margin-left: 20px; text-align: center;">{% trans 'You have no bookings.' %}</p>

    {% endfor %}

</div>

</div>

{% if page.paginator.num_pages > 1 %}
<div class="pagination">
    <span class="page_links">
        {% if page.has_previous %}
            <a class="page_link" href="?page=1">&laquo; {% trans 'first' %}</a>
            <span>&middot;</span>
        {% endif %}

        {% for i in pages %}
            {% if page.number == i %}
                <span class="current_page">{{ page.number }}</span>
            {% else %}
                <a class="page_link" href="?page={{ i }}">{{ i }}</a>
            {% endif %}
            {% if page.paginator.num_pages != i or page.paginator.num_pages != page.number %}
                <span>&middot;</span>
            {% endif %}
        {% endfor %}

        {% if page.has_next %}
            <a class="page_link" href="?page={{ page.paginator.num_pages }}">{% trans 'last' %} &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}

{% endblock %}
